* {
  font-family: Roboto, sans-serif;
}

:root {
  font: 18px/145% var(--sans);
  
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: #0b3d6e;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  color: var(--text-h);
  font-size: 60px;
  letter-spacing: 0.1rem;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}
p {
  margin: 0;
}

.shopArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.itemCard {
  color: black;
  min-height: 10rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.itemCard:hover {
  box-shadow: 0 0 10px #c2c2c2;
  transform: translateY(-5px);
}
.itemCard:focus {
  box-shadow: 0 0 10px #c2c2c2;
  transform: translateY(-5px);
}
.imgDiv {
  height: 16rem;
}
.itemCard div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.itemName {
  padding-top: 0.3rem;
  height: 2.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
}
.updateItemTotalBtnDiv {
  display: flex;
  gap: 0.8rem;
}
.navBar {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navLinks:hover {
  box-shadow: 0 0 10px #42a5f5;
}
.itemRatingPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  margin: 0.2rem;
  background-color: #1976d2;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  transition-duration: 0.4s;
  border: none;
}
.updateItemTotalBtnDiv button {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.updateItemTotalBtnDiv {
  display: flex;
  align-items: center;
}
button:hover {
  background-color: #0d46a1;
}
button:focus {
  background-color: #0d46a1;
}
.homeArea {
  color: white;
  background-color: #19588d;
  display: grid;
  grid-template-rows: 80% 20%;
}
.textDiv {
  margin: 1rem;
  text-align: center;
  padding-top: 8%;
}
.shopBtn {
  margin-top: 1.5rem;
  width: 8rem;
  height: 2.5rem;
  border: none;
}
.shopBtn:hover {
  box-shadow: 0 0 10px #42a5f5;
}
.middleContainer {
  display: flex;
}
.mainImgDiv img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.cartArea {
  background-color: #19588d;
  display: grid;
  grid-template-rows: 80% 20%;
}
.middleContainerCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middleContainerCart h2 {
  color: whitesmoke;
}
.middleContainerCart ul {
  width: 80%;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: #f5f5f5;
}
.middleContainerCart ul li {
  border-bottom: solid 1px #bdbdbd;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: auto 20%;
  gap: 0.6rem;
}
.cartImgDiv {
  height: 100%;
}
.cartImgDiv img {
  object-fit: contain;
  height: 3.5rem;
  width: 3.5rem;
}
.detailsCartDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cartBtn {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.cartDeleteBtnDiv {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}
.cartDeleteBtn {
  background-color: #f83034;
  color: whitesmoke;
  padding: 0.13rem;
}
.cartDeleteBtn:hover {
  background-color: #bc0019;
  color: whitesmoke;
}
.checkoutBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkoutBtnDiv button {
  margin: 0;
}

.footer{
  background:#0b3d6e;
  padding: 30px 0px;
  text-align:center;
}
.footer .row{
  width:100%;
  margin:0.4% 0%;
  padding:0.2% 0%;
  color:whitesmoke;
  font-size:0.8em;
}
.footer .row a{
  text-decoration:none;
  color:whitesmoke;
  transition:0.5s;
}
.footer .row a:hover{
  color:#b9d8e9;
}
.footer .row ul{
  width:100%;
}
.footer .row ul li{
  display: inline-block;
  margin: 0px 30px;
}
.footer .row a i{
  font-size:2em;
  margin:0% 1%;
}

@media (max-width:720px){
  .footer{
    text-align:left;
    padding:5%;
  }
  .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
  }
  .footer .row a i{
    margin:0% 3%;
  }
  .middleContainerCart {
    text-align: left;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 1%;
  }
  .middleContainerCart ul {
    width: 90%;
  }
  .middleContainerCart ul li {
    display: flex;
    gap: 0.2rem;
  }
  .detailsCartDiv {
    gap: 0.2rem;
  }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
    body {
      background-color: #e2eaff;
    }
    .navLinks {
      color: #1976d2 !important;
    }
    footer {
      background-color: #e2eaff;
      color: whitesmoke !important;
    }
    footer a {
      color: whitesmoke !important;
    }
    .cartArea h2 {
      color: #1976d2;
    }
}
